<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="readWriteDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="#{appSettings.jdbcReadWriteDriver}" />
		<property name="jdbcUrl" value="#{appSettings.jdbcReadWriteUrl}" />
		<property name="user" value="#{appSettings.jdbcReadWriteUser}" />
		<property name="password" value="#{appSettings.jdbcReadWritePassword}" />
		<property name="minPoolSize" value="1" />
		<property name="maxPoolSize" value="10" />
		<property name="maxIdleTime" value="1800" />
		<property name="maxConnectionAge" value="3500" />
		<property name="checkoutTimeout" value="50000" />
		<property name="idleConnectionTestPeriod" value="300" />
	</bean>

	<bean id="readWriteSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:/sqlmap/mysql-map-config.xml" />
		<property name="dataSource" ref="readWriteDataSource" />
	</bean>

</beans>