<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="reviewService" class="com.richardhoppes.checkers.service.GameServiceImpl">
		<property name="gameDAO" ref="gameDAO" />
		<property name="pieceService" ref="pieceService" />
	</bean>

	<bean id="pieceService" class="com.richardhoppes.checkers.service.PieceServiceImpl">
		<property name="pieceDAO" ref="pieceDAO" />
	</bean>

</beans>